@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.1), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

body, html {
    min-height: 100vh;
    background-color: #fff;
    font-family: 'Vampiro One', cursive;
}

.sidebar a{
    position: absolute;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    left: -160px;
    width: 200px;
    transition: 0.4s;
    text-transform: capitalize;
    border-radius: 0 15px 15px 0;
    font-size: 35px;
}

.sidebar a:hover {
    left: 0;
    box-shadow: var(--bs);
}

.home {
    background: #e0e061;
    top: 140px;
}

.blog {
    background: #ff6347;
    top: 210px;
}

.about {
    background: #ff4500;
    top: 280px;
}

.contact {
    background: teal;
    top: 350px;
}